<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD App using Django</title>
</head>
<body>
    <form name="student_form" method="post">
        {% csrf_token %}
        <p>Name
            <input type="text" name="name">
        </p>
        <p>Email
            <input type="email" name="email_id">
        </p>
        <p>Roll Number
            <input type="number" name="roll_number">
        </p>
        <button type="submit">Submit</button>
    </form>
    {% for student in students %}
        <h2>{{student.roll_number}}</h2>
        <h4>{{student.name}}</h4>
        <h3>{{student.email_id}}</h3>
        <a href="{% url "delete" student.roll_number %}">Delete</a>
        <a href="{% url "update_student" student.roll_number %}">Update</a>
    {% endfor %}
</body>
</html>